<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DJHomeFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DJHomeFramework_a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DB7F2EF1CFDB5EA007509E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DF098561CFAF2EB00312B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DF0986F1CFAF2EB00312B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DF0987A1CFAF2EB00312B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
